login {
  padding: 50px 0;
}

login .form {
  max-width: 800px;
  padding: 50px 70px;
  border-radius: 10px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

html {
  /*background-color: #214c84;*/
  /*background-blend-mode: overlay;*/
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  /*background-size: cover;*/
  height: 100%;
}

