.btn.btn-primary {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: rgb(81,47,220);
}

#promo {
  text-align: center;
  padding: 40px;
  background: url(../../assets/img/foto.jpg)no-repeat;
  background-size: cover;
  /*max-width: 90%;*/
  min-height: 450px;
  max-height: 450px;
}

#promo .jumbotron {
  border-radius: 20px;
  background-color: rgba(255,255,255,0.75);
  max-width: 800px;
  margin: 0 auto;
}

.site-section {
  text-align: center;
  padding: 60px 0 60px;
  width: 90%;
  /*margin-bottom: 30px;*/
}

.site-section h1 {
  margin-bottom: 30px;
}

#welcome p {
  margin: 0 auto;
  font-size: 20px;
}

#promo .jumbotron p {
  /*margin: 80%;*/
}

